.checkoutDetailsGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Ubuntu', sans-serif;
    margin-top: 5%;
    padding-bottom: 4em;
}
#payMethodSelect {
    border: 1px #ff5689 solid;
    border-radius: 10px;
    padding: 1em 2em;
}
.informationContainer {
    grid-column: 2/7;
}
.scheduleInputs div {
    align-items: center;
}
.informationContainer>h1 {
    color: #ff5689;
    font-size: 32px;
}
.freeExtraDiv {
    margin: 0.5em 0;
    color: rgba(0, 0, 0, 0.5);
}

.toppingDiv {
    display: flex;
    justify-content: space-between;
}

.toppingDiv div:first-child p {
    color: rgba(0, 0, 0, 0.5);
}

.toppingDiv div:last-child p {
    color: #ff5689;
}

.toppingDiv div p {
    margin: 0.5em 0;
}

#toppingsP,
#extrasP {

    font-weight: 600;
}
.dateNote {
    color: #ff5689;
    margin-bottom: 1em;
}
.apartmentContainer>button, .workplaceContainer > button, .villaContainer > button {
    border: 2px #ff5689 solid;
    border-radius: 15px;
    color: black;
    background-color: white;
    width: 100%;
    padding: 1em;
    text-align: left;
    font-size: 20px;
    margin: 1em 0;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
.apartmentContainer > button:hover, .workplaceContainer > button:hover, .villaContainer > button:hover {
    color: white;
    background-color: #ff5689;
}
.personalDetailsForm {
    width: 100%;
    margin-bottom: 2em;
}

.personalDetailsForm h1 {
    font-size: 20px;
    font-weight: medium;
}

.personalDetailsForm form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    align-items: center;
}

.personalDetailsForm form div input {
    width: 45%;
    padding: 1em 2em;
    border: 1px #ff5689 solid;
    border-radius: 15px;
    outline-color: #ff5689;
}

.personalDetailsForm form textarea {
    width: 100%;
    resize: none;
    border: 1px #ff5689 solid;
    border-radius: 15px;
    padding: 1em;
    outline-color: #ff5689;
}
#apartmentSubmitBtn, #workplaceSubmitBtn, #villaSubmitBtn {
    background-color: #ff5689;
    color: white;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 45%;
}

.invoiceContainer {
    grid-column: 8/12;
}
.invoiceContainer > h1 {
    font-size: 32px;
    color: #ff5689;
    margin-bottom: 0.5em;
}
.invoiceContainer hr {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 1em;
}
.item {
    width: 100%;
}
.deleteDiv {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 0.5em 0;
}
.deleteDiv img {
    width: 18px;
    height: 22px;
    cursor: pointer;
    margin-left: 0.5em;
}
.item > h1 {
    font-size: 24px;
    margin-top: 0.5em;
}

.size, .flavor, .gift {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
}
.size p, .flavor p, .gift p {
    color: rgba(0, 0, 0, 0.5);
}

.size .price, .gift .price, .vat .price, .deliveryFee .price, .total .price {
    color: #ff5689;
}

.vat, .deliveryFee, .total {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin: 1em 0;
}

.total p {
 font-weight: bold;
 font-size: 20px;
}
#selectGov {
    border: 1px #ff5689 solid;
    border-radius: 10px;
    width: 45%;
    outline: #ff5689;
    padding: 0 2em;
}
.addMoreItems {
    color: #ff5689;
    background-color: white;
    border: 1px #ff5689 solid;
    border-radius: 10px;
    padding: 1em 2em;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    width: 40%;
}
.addMoreItems:hover {
    background-color: #ff5689;
    color: white;
}

@media (max-width: 1129px) {
    .addMoreItems {
        width: 50%;
    }
}

@media(max-width: 900px) {
    .addMoreItems {
        width: 70%;
    }
    .informationContainer h1, .invoiceContainer h1 {
        font-size: 24px;
    }
    .deleteDiv h1 {
        font-size: 18px;
    }
    .deleteDiv img {
        width: 14px;
        height: 18px;
    }
    .total p {
        font-size: 18px;
    }
    .apartmentContainer button, .villaContainer button, .workplaceContainer button {
        font-size: 18px;
    }
    .personalDetailsForm h1 {
        font-size: 18px;
    }
    .personalDetailsForm form #apartmentSubmitBtn {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .informationContainer {
        grid-row: 2;
        grid-column: 2/12;
        margin-top: 1em;
    }
    .invoiceContainer {
        grid-row: 1;
        grid-column: 2/12;
    }
    .addMoreItems {
        width: 40%;
    }
}

@media (max-width: 450px) {
    .addMoreItems {
        width: 60%;
    }
    #apartmentSubmitBtn {
        width: 60%;
    }
}