.navbarContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    height: 7vh;
}

.halfCircle {
    background-color: #FF7DA3;
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 100%;
    top: -5%;
    left: -3%;
    grid-column: 1;
}
.navbarContainer > a {
    grid-column: 2;
    justify-self: center;
    align-self: center;
    font-family: 'Pacifico', cursive;
    color: #FF7DA3;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
}
.navbarContainer .navbar {
    grid-column: 6/12;
    justify-self: flex-end;
    /* align-items: center; */
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
        color: #FF7DA3;
        font-size: 18px;
        margin-left: 2em;
        font-family: 'Ubuntu', sans-serif;
}

.signBtns {
    border: none;
    background-color: #FF7DA3;
    color: white;
    border-radius: 10px;
    padding: 1em 2em;
    margin-left: 2em;
    cursor: pointer;
}

#burgerIcon {
    cursor: pointer;
}

.dropdownNav {
    position: absolute;
}
.dropdownNav li {
        display: flex;
            flex-direction: column;
}

.burgerNavbar {
    display: none;
}
@media (max-width: 1200px) {
   .navbarContainer .navbar {
        grid-column: 4/12;
        margin-top: 0.9em;
    }
}
@media(max-width: 1000px) {
   
     .navbar ul li a, .navbar ul li button {
           margin-left: 0.8em;
        }
    .halfCircle {
        left: -5%;
    }
}
@media (max-width: 800px) {
    .navbarContainer>a {
            grid-column: 3;
        }
                .halfCircle {
                    left: -7%;
                }
    .navbar ul:first-child {
        display: none;
    }
    .burgerNavbar {
        display: block;
        /* grid-column: 8/12; */
    }
    .burgerNavbar img {
        margin-right: 1em;
    }
    .burgerNavbar ul {
        list-style: none;
        position: absolute;
        right: 3%;
        background-color: white;
        border: 1px #FF7DA3 solid;
        border-radius: 10px;
    }
    .burgerNavbar ul li a {
        text-decoration: none;
        color: #FF7DA3;
        font-family: 'Ubuntu', sans-serif;
    }
    .burgerNavbar ul li {
        margin: 0.5em 1em;
    }
    .burgerNavbar ul hr {
        border: none;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.2);
          
    }
    .burgerNavbar ul li button {
        margin: 0;
        padding: 0.5em ;
        background-color: white;
        color: #FF7DA3;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
    }
}


@media (max-width: 550px) {
    .navbarContainer > a {
        grid-column: 4;
    }
    .halfCircle {
        left: -10%;
    }
    .burgerNavbar {
        grid-row: 1;
        grid-column: 13;
    }
}

@media (max-width: 400px) {
    .halfCircle {
            left: -15%;
        }
        .navbarContainer > a{
            font-size: 26px;
        }
}

@media(max-width: 340px) {
    .halfCircle {
        left: -20%;
    }
}